@model ArmyTech.ViewModels.AddNewItemDto

<div class="row text" dir="rtl">
    <div class="col">
        <p>
            <h1 class="text-center"> نظام الفواتير </h1>
        </p>
        <form id="InvoicesForm" method="post" asp-controller="Invoices" asp-action="Save" onsubmit="return SubmitForm(this)">
            <div class="row">
                <input type="hidden" asp-for="InvoiceId" />
                <div class="col">
                    <div class="form-group">
                        <label asp-for="CustomerName" class="control-label" style="float:right"></label>
                        <input asp-for="CustomerName" class="form-control" />
                        <span asp-validation-for="CustomerName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <label class="" style="float:right"> الفرع</label>
                    <select class="form-control" asp-for="BranchId" asp-items="Model.Branches.ToList()"></select>
                    <span class="text-danger" asp-validation-for="BranchId" style="display: flex;"></span>
                </div>
                <div class="col">
                    <label class="" style="float:right"> الكاشير</label>
                    <select class="form-control" asp-for="CashierId" asp-items="Model.Cashiers.ToList()"></select>
                    <span class="text-danger" asp-validation-for="CashierId" style="display: flex;"></span>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="submit" value="حفظ الفاتورة" id="SaveInvoice" class="btn btn-outline-success float-right" style="margin-top:30px"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-bordered" id="ItemsTable" dir="rtl">
                    <thead>
                        <tr class="text-center">
                            <th>
                                الصنف
                            </th>
                            <th>
                                الكمية
                            </th>
                            <th>
                                السعر
                            </th>
                            <th>
                                قيمة
                            </th>
                            <th>
                            </th>
                        </tr>

                    </thead>
                    <tbody id="ItemsTableBody">
                        <tr>
                            <td>
                                <input class="form-control" type="tel" id="ItemName" />
                            </td>
                            <td>
                                <input class="form-control" id="Quantity" type="number" autocomplete="off" value="0" />
                            </td>
                            <td>
                                <input class="form-control" id="Price" type="number" autocomplete="off" value="0" />
                            </td>
                            <td>
                                <input class="form-control" id="TotalValue" type="number" autocomplete="off" readonly="readonly" value="0" />
                            </td>
                            <td>
                                <button id="AddNewItem" type="button" href="#" class="btn btn-success col-lg-12" style="margin-top:5px; margin-right:5px;">اضافة</button>
                            </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </form>
    </div>

</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var ItemsCount = 0;
      $(document).ready(function(){
          debugger;
          var validationCount = 0;
          var InputsEnteredObject = null;
          CheckRowsCount();

           $('#AddNewItem').click(function (e) {
            debugger;
            e.preventDefault();
          var itemName = $("#ItemName").val();
          var quantity = $("#Quantity").val();
          var price = $("#Price").val();
          var totalValue = $("#TotalValue").val();

            if (itemName == null || itemName == "") {
                alert("يرجى ادخال اسم الصنف ");
                return false;
            }
               if (parseFloat(quantity) <= 0) {
               alert("برجى ادخال الكمية اكبر من الصفر");
                return false;
            }
                if (parseFloat(price) <= 0) {
                 alert("يرجى ادخال السعر بقيمة اكبر من الصفر");
                return false;
            }

            else {
                var tr = '<tr><td><input type="text" readonly class="form-control" value="' + itemName + '" name="InvoiceDetails[' + ItemsCount + '].ItemName"/></td><td><input type="text" readonly class="form-control" name="InvoiceDetails[' + ItemsCount + '].Quantity" value="' + quantity + '  "/></td><td><input type="text" readonly class="form-control" name="InvoiceDetails[' + ItemsCount + '].Price" value="' + price + '  "/></td><td><input type="text" readonly class="form-control" name="InvoiceDetails[' + ItemsCount + '].TotalValue" value="' + (quantity * price) + '  "/></td><td><button type="button" id="DeleteItem" href="#" class="btn btn-danger col-lg-12" style="margin-top:5px; margin-right:5px;">حذف</button></td></tr>';
                $('#ItemsTable').prepend(tr);
                ItemsCount++;
                $('#ItemName').val('');
                $('#Quantity').val(0);
                $('#Price').val(0);
                $('#TotalValue').val(0);
                CheckRowsCount();
            }
        });

      


    });

      $(document).unbind('click').on('click', '#DeleteItem', function (event) {
              debugger;
            var target = event.target;
            var parentTr = $(target).closest('tr');
            ItemsCount--; // 2
            $(parentTr).remove();
            var count = ItemsCount; // 2
            var elementCount = count; // 2
            $('#ItemsTableBody>tr').each(function (index, element) {
                debugger;
                if (count > 0) {
                    elementCount = elementCount -1; // 1
                    $(element).find("td input,td select").each(function () {
                        debugger;
                        var input = this;
                        var name = $(input).attr('name');
                        name = name.replace(/[0-9]/g, elementCount);
                        $(input).attr('name', name);
                    });
                    count--;
                
                }
            });
                 CheckRowsCount();
        });


        function CheckRowsCount() {
         var rowCount = $('#ItemsTable tr').length;
          if(rowCount <=2) {
          $("#SaveInvoice").prop("disabled",true);
          }else {
           $("#SaveInvoice").prop("disabled",false);
          }
        }
</script>
